/*
 __      _______   _______          ___ _    _   _______ _                _               
 \ \    / /  __ \ / ____\ \        / (_) |  (_) |__   __(_)              | |              
  \ \  / /| |__) | |     \ \  /\  / / _| | ___     | |   _ _ __ ___   ___| | ___  ___ ___ 
   \ \/ / |  _  /| |      \ \/  \/ / | | |/ / |    | |  | | '_ ` _ \ / _ \ |/ _ \/ __/p_ \
     \/   |_|  \_\\_____|   \/  \/   |_|_|\_\_|    |_|  |_|_| |_| |_|\___|_|\___||___/___/


	I'll uh- write a lot more here later with regards to guidelines and junk... but for now the GIST of it is *please leave comments* whenever you do something. If you do, make sure to append a unicode emoji representing yourself in place of a name- and if it's your first time- add it to the list below:

CONTRIBUTORS:
	😺 - Table
	🍷 - Aries
	🐢 - Prismic
	🦇 - TrixxedHeart

*/

@import url("@fontsource-variable/exo-2");
@import url("@fontsource-variable/noto-sans");

@import url("./body.css");
@import url("./editor.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./infobox.css");
@import url("./mediawiki.css");
@import url("./notifications.css");
@import url("./source.css");
@import url("./sidebar.css");
@import url("./translate.css");

	:root {
		--faux-white: #f8f9fa;
		--blue-text: #6ae3f9;
		--more-dark-green: #07242b;
		--more-dark-green-border: #053c48;
		--less-dark-green: #07343f;
		--less-dark-green-border: #086c84;
		--very-dark-grey: #101315;
		--very-dark-grey-border: #232a2e;
		--more-dark-grey: #181b1f;
		--more-dark-grey-border: #282a2e;
		--less-dark-grey: #252a30;
		--less-dark-grey-border: #3c4148;
		--link: #6bd4ff;
		--link-hover: #468ca9;
		--link-visited: #509fdd;
		--link-visited-hover: #3874a3;
		--red: #b32c2c;
		--yellow: #ecca12;
		--green: #34762e;

		--font-header: "Exo 2 Variable", "Linux Libertine", "Times New Roman", "Liberation Serif", "Nimbus Roman", "Noto Serif", "Times", sans-serif;
		--font-sans: "Noto Sans Variable", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Lato", "Liberation Sans", "Helvetica Neue", "Helvetica", sans-serif;
	}

	/* 🍷 remove this eventually: https://files.aries.fyi/2024/10/03/004f7ed28ed6ccde.png*/
	.tux-groupselector {
		color: black;
	}
	
	/* 🍷 https://files.aries.fyi/2024/10/06/aa0941e69e581768.png */
	.oo-ui-labelWidget.oo-ui-inline-help {
		color: var(--faux-white);
		opacity: .75;
	}

	/* 😺 establish faux white text globally */
	body {
		color: var(--faux-white);
	}

	/* 😺 main BG, INVESTIGATE SCALING AND POSSIBLY DITHERING THE GRADIENT */
	body {
		background: #10171c;
		background-image: url('https://wiki-files.vrchat.com/SiteBackground.webp');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
	}

	#mw-wrapper {
		background: linear-gradient(to bottom, #10171c00 20vh, #10171c 55vh), linear-gradient(to right, #10171c 1vw, #10171c00 15vw, #10171c00 85vw, #10171c 99vw);
	}

	/* 😺 ugly serif fonts BEGONE */
	.mw-body h1,
	.mw-body h2,
	.mw-body h3,
	.mw-body h4,
	.mw-body h5,
	.mw-body h6,
	.mw-body dt,
	#personal h2 {
		font-family: var(--font-header);
		font-weight: 600;
	}
	.mw-body h2 {
		border-bottom: solid 3px var(--more-dark-grey-border);
	}

	/* 😺 below seems to be 🍷's code; haven't studied it enough to know where it should go or what parts *exactly* it touches so for now I'll just leave this notice here until more thorough comments are written */
	.mw-sp-translate-message-documentation {
		background-color: transparent;
	}
	.mw-sp-translate-edit-fields fieldset {
		border: 3px solid var(--more-dark-grey-border);
		border-radius: 8px;
	}
	.mw-sp-translate-edit-definition {
		background-color: transparent;
	}
	
	hr {
border-color: var(--less-dark-grey-border);
}

	body {
		font-family: var(--font-sans);
		font-weight: 400;
	}

	.mw-message-box {
		background-color: transparent !important;
		border: dotted 3px var(--less-dark-grey-border);
		color: var(--faux-white);
		padding: 1.5em;
	}

	.mw-message-box p {
		margin: 0;
	}

	.mw-logevent-loglines {
		margin-bottom: 1em !important;
	}

	.mw-message-box-warning {
		border-color: var(--yellow);
	}

	.mw-message-box-error {
		border-color: var(--red);
	}

	div.mw-warning-with-logexcerpt {
		padding: 1.5em;
		border: dotted 3px var(--less-dark-grey-border);
		margin-bottom: 1em;
	}

	span.comment {
		opacity: .75;
	}
	#contentSub {
		color: var(--faux-white);
	}

